<div class="detail-section">
  <div class="container-fluid text-center">

    <div class="row">
      <h6 class="display-6">Add New Item </h6>
      <hr>
    </div>

    <div id="addItemForm">
      <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">


        <div class="row mt-5">
          <div class="form-group">
            <h6 class="display-6">Name:</h6>
            <input class="form-control" type="text" formControlName="name"
                   placeholder="Enter the item's name">
          </div>
        </div>
        <br>

        <div class="row mt-5">
          <div class="form-group">
            <h6 class="display-6">Description:</h6>
            <input class="form-control" type="text" formControlName="description"
                   placeholder="Enter the item's description">
          </div>
        </div>
        <br>

        <div class="row mt-5">
          <div class="col-6">
            <div class="row mt-5">
              <div class="form-group">
                <h6 class="display-6">Price:</h6>
                <input class="form-control" type="number" formControlName="price"
                       placeholder="Enter the item's price">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-5">
              <div class="form-group">
                <h6 class="display-6">Amount of Stock:</h6>
                <input class="form-control" type="number" formControlName="amountOfStock"
                       placeholder="Enter the item's stock">
              </div>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-6">
        <a routerLink="/items">
          <button class="btn btn-outline-primary px-4 m-lg-5">
            Back
          </button>
        </a>
      </div>
      <div class="col-6">
        <button class="btn btn-primary m-lg-5 px-4" (click)="displayMessage()"  type="submit">
          Save
        </button>
      </div>
    </div>
      </form>
    </div>
  </div>
</div>

