<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 class="display-1">Items</h1>
        </div>
        <div class="col-4">
          <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
                       [(ngModel)]="searchText" placeholder="Filter by name..."
                       autofocus>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of items-->
        <div *ngFor="let item of items | itemFilter: searchText" class="col-md-4">
          <div class="item-box">
            <div class="container">
              <div class="row text-center">
                <h4>{{item.name}}</h4>
              </div>
              <div class="row">
                <img src="../../../../assets/images/placeholder.png" class="img-responsive" height="285" alt="placeholder">
              </div>
              <div class="row">
                <div class="col-8">
                  {{item.price |currency:'USD'}}
                </div>
                <div class="col-4" *ngIf="item.stockUrgency =='STOCK_LOW'">Stock Low <i style="color:red" class="fas fa-circle"></i>
                </div>
                <div class="col-4" *ngIf="item.stockUrgency =='STOCK_HIGH'">Stock High <i style="color:green" class="fas fa-circle"></i>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

