<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
      <th>Stock Urgency</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of items">
    <tr>
      <td class="align-middle"><img src="/assets/images/placeholder.png" height="100" alt="placeholder image"></td>
      <td class="align-middle">{{item.name}}</td>
      <td class="align-middle">{{item.price | currency: '$'}}</td>
      <td class="align-middle">{{item.amountOfStock}}</td>
      <td class="align-middle" *ngIf="item.stockUrgency =='STOCK_LOW'"><i style="color:red" class="fas fa-circle"></i></td>
      <td class="align-middle" *ngIf="item.stockUrgency =='STOCK_HIGH'"><i style="color:green" class="fas fa-circle"></i></td>
    </tr>
    </tbody>
  </table>
</div>

